@font-face{
    font-family: 'newFont-Titre';
    src: url("../Font/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
    font-size: normal;
    font-style: normal;
  }
  
  @font-face{
    font-family: 'newFont-Text';
    src: url("../Font/Helvetica W01 Roman.ttf");
    font-size: normal;
    font-style: normal;
}

@media only screen and (max-width: 490px) {

    #Commission{
        text-align: center;
    }
 
    #Commission #Titre{
        margin-left: auto;
        margin-right: auto;
        font-size: 2em;
        width: 100%;
        text-align: center;
        margin-bottom: 8%;
        font-family: "newFont-Titre"; 
    }

    #Commission .side{
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }

    #Commission .box{
        opacity: 1;
        height: 20em;
        margin-bottom: 10%;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
        10px 10px 70px rgba(0,0,0,0.25),
        inset 5px 5px 10px rgba(0,0,0,0.5),
        inset 5px 5px 20px rgba(255,255,255,0.2),
        inset -5px -5px 15px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #Commission .box h1{
        margin-top: 10%;
        display: inline-block;
        font-family: "newFont-Titre";
    }

    #Commission .box h2{
        display: inline-block;
        font-family: "newFont-Titre";
        font-size: 1em;
        margin-top: 1%;
    }

    .PasDisponible{
        color: red;
    }

    #Commission .Blason{
        margin-top: 2vh;
        width: 23vh;
    }

}

@media only screen and (min-width: 500px) {

    #Commission{
        text-align: center;
    }

    #Commission #Titre{
        font-size: 8vh;
        width: 80vw;
        text-align: center;
        margin-bottom: 10vh;
        font-family: "newFont-Titre";
        
    }


    #Commission #allCommission{
        display: flex;
        justify-content: space-around;
    }

    #Commission .side{
        width: 40vw;
        display: inline-block;
    }

    #Commission .box{
        opacity: 1;
        height: 44vh;
        margin-bottom: 5vh;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 25px 25px 75px rgba(0,0,0,0.25),
        10px 10px 70px rgba(0,0,0,0.25),
        inset 5px 5px 10px rgba(0,0,0,0.5),
        inset 5px 5px 20px rgba(255,255,255,0.2),
        inset -5px -5px 15px rgba(0,0,0,0.75);
        display: flex;
        flex-direction: column;
    }

    #Commission .box h1{
        margin-top: 7vh;
        display: inline-block;
        font-family: "newFont-Titre";
    }

    #Commission .box h2{
        display: inline-block;
        font-family: "newFont-Titre";
        font-size: 2vh;
    }

    #Commission .Blason{
        margin-top: 2vh;
        width: 10vw;
    }

    .PasDisponible{
        color: red;
    }

}


