@font-face{
    font-family: 'newFont-Titre';
    src: url("../Font/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
    font-style: normal;
  }
  
  @font-face{
    font-family: 'newFont-Text';
    src: url("../Font/Helvetica W01 Roman.ttf");
    
    font-style: normal;
}

@media only screen and (max-width: 490px) {

    #CONTACT #FondQuestion h1{
        display: none;
    }

    #CONTACT #TexteContact{
        width: 100vw;
        padding: 2vh;
    }

    #CONTACT #TexteContact p{
        font-size: 1rem;
        color: black;
        font-family: "newFont-Text";
        line-height:3vh;
        margin-bottom: 1vh;
    }

    .PourNous{
        position: relative;
        top: 2vh;
        font-size: 3vh;
        width: 100vw;
        text-align: center;
        margin-bottom: 3vh;
        font-family: "newFont-Titre"; 
    }

    #CONTACT #RueToul{
        top: 5vh;
        margin-left: 5vw;
        width: 90vw;
        height: auto;
        border-radius: 20px;
        margin-bottom: 5vh;
    }

    
    #CONTACT #InstaFaceBook{
        margin-top: 5%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-around;
    }

    #CONTACT #Insta{

        width: 30%;
        height: 5vh;
        margin: 3vh;
        background-image: url("../IMAGE/Contact/Image/caseInstagram.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
    }

    #CONTACT #FaceBook{
        width: 30%;
        height: 6vh;
        margin: 3vh;
        background-image: url("../IMAGE/Contact/Image/caseFacebook.png");
        background-size: 100% 80%;
        background-repeat: no-repeat;
    }

    .row-title{
        font-family: "newFont-Text";
        margin-left: 2%;
    }

    .row-content{
        font-family: "newFont-Text";
        margin-left: 2%;
    }

    h2{
        font-family: "newFont-Titre";
        position: relative;
        bottom: 2vw;
        width: 100vw;
        text-align: center;
        
    }

}

@media only screen and (min-width: 500px) {

    #CONTACT{
        /*background-color: rgb(255,242,205);*/
        position: absolute;
        top:23.5vh;
        width: 100%;
        height: 80vh;
    }

    #CONTACT #FondQuestion h1{
        font-family: "newFont-Titre";
        color: white;
        font-size: 180%;
        background-color: rgb(63,42,86);
        border-radius: 5px;
        display: inline-block;
        padding: 2vh;
        margin-left: 1vw;
    }

    #CONTACT #TexteContact p{
        margin-top: 5vh;
        font-family: "newFont-Text";
        color: rgb(63, 42, 86);
        font-size:3vh;
    }

    #CONTACT #RueToul{
        position: absolute;
        top: 5vh;
        width: 50vw;
        height: auto;
        left: 46vw;
        border-radius: 20px;
    }

    #CONTACT #FondQuestion{
        border: 1px solid black;
        width: 35vw;
        padding: 5vh;
        margin: 5vh;
        border-radius: 5px;
    }

    #CONTACT #AdresseToul{
        position: relative;
        color: rgb(63, 42, 86);
        font-family: "newFont-Titre";
        text-decoration: underline 4px;
        font-size: 4vh;
        display: inline-block;
        position: relative;
        top: -12vh;
        left: 51vw;
    }

    #CONTACT #InstaFaceBook{
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    #CONTACT #Insta{

        width: 30%;
        height: 15vh;
        margin: 3vh;
        background-image: url("../IMAGE/Contact/Image/caseInstagram.png");
        background-size: contain;
        background-repeat: no-repeat;
        display: flex;
    }

    #CONTACT #FaceBook{
        width: 30%;
        height: 15vh;
        margin: 3vh;
        background-image: url("../IMAGE/Contact/Image/caseFacebook.png");
        background-size: 100% 80%;
        background-repeat: no-repeat;
        display: flex;
    }

    .row-title{
        font-family: "newFont-Text";
    }

    .row-content{
        font-family: "newFont-Text";
    }

    h2{
        font-family: "newFont-Titre";
        position: relative;
        left: 1vw;
    }

    .PourNous{
        display: none;
    }
}