@font-face{
  font-family: 'newFont-Titre';
  src: url("../Font/FontsFree-Net-Lulo-Clean-W01-One-Bold.ttf");
  font-size: normal;
  font-style: normal;
}

@font-face{
  font-family: 'newFont-Text';
  src: url("../Font/Helvetica W01 Roman.ttf");
  font-size: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Montserrat-Bold';
  src: url("../Font/Montserrat-Bold.ttf");
  font-size: normal;
  font-style: normal;
}

@font-face{
  font-family: 'Montserrat';
  src: url("../Font/Montserrat-Regular.ttf");
  font-size: normal;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0%;
}

@media only screen and (max-width: 490px) {




  #Bienvenue{
    color: rgb(63, 42, 86);
    font-size: 3vh;
    margin-left: 7.5vw;
    font-family: "newFont-Titre";
    margin-bottom: 3vh;
    margin-top: 3vh;
    width: 85vw;
    text-align: center;
    
  }

  /* Bords de l'écran (téléphone) */
  #FirstBox{
    width: 100vw;
    height: auto;
  }

  #FirstBox p{
    font-size: 1rem;
    color: black;
    font-family: "newFont-Text";
    line-height:3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
  }

  #Presentation{
    background-color: rgb(255,92,57);
    color: white;

    margin-top: 2vh;
    margin-bottom: 2vh;
    padding: 0.5vh;
    padding-left: 1.5vh;

    border-radius: 5px;
    width: max-content;
    margin-left: auto; 
    margin-right: auto;

    font-size: 2vh;
    font-family: "newFont-Titre";
  }

  /* Les 5 images */
  #ImagePresentation{
    margin-top: 3vh;
    display: flex;
    width: 100%;
    height: 8em;
    position: relative;
    justify-content: center;
  }

  .OneImagePresentation{
    margin: 1vh;
  }

  .noPhone{
    display: none;
  }

  #Qui{
    width: max-content;
    margin-left: auto; 
    margin-right: auto;

    background-color: rgb(63, 42, 86);
    color: white;

    margin-top: 5vh;
    margin-bottom: 2vh;
    padding: 1vh;
    padding-left: 1.5vh;

    border-radius: 5px;

    font-size: 2vh;
    font-family: "newFont-Titre";
  }

  /* Deuxième Div de la page */
  #SecondBox{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
  }

  .infoMembre{
    font-size: 1rem;
    color: black;
    font-family: "newFont-Text";
    line-height:3vh;
    margin-left: 2vw;
    margin-right: 2vw;
    text-align: center;
  }

  .pole{
    width: 90%;
    display: flex;
    margin-top: 5%;
  }

  

  /*Pour séparé dans les box*/
  /*Changement du css des lettres*/
  .DivName{
    display: flex;
  }

  .nom {
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-right: 3vh;
    margin-left: auto;
    text-transform: uppercase;
    font-family: "newFont-Titre";
    font-size: 0.7em;
    display: inline;
  }

  .nom p {
    line-height: 3vh;
  }

  .poste {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-right: 5vh;
    font-weight: normal;
    font-family: "Montserrat";
  }

  .poste p {
    font-size: 0.7em;
    line-height: 3vh;
  }

  .letterWhite{
    color: white;
  }

  .letterOrange{
    color: rgb(255, 92, 57);
  }

  #SecondBox .DivPresentation h1{
    color: rgb(63, 42, 86);
    font-family: "newFont-Titre";
    font-size: 1.5em;
    margin-bottom: 5%;
  }

  
  #SecondBox h1{
    text-align: center;
  }

  #DivEvent .DivName p{
    color: white;
  }

  /*Voir les photos*/
  .PhotoNous{
    display: none;
  }

  /*Box Bureau*/
  #DivBureau{
    width: 100%;
    padding: 3vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(165, 139, 169);
  }

  #DivBureau .DivName p{
    color: rgb(63, 42, 86);
  }

  /*Box Event*/
  #DivEvent{ 
    width: 100%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(255, 92, 57);
  }




  /*Box Commissions*/
  #DivCommission{ 
    width: 100%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  #DivCommission .DivName p{
    color: white;
    width: max-content;
    float: right;

  }

  #DivCommission .nom{
    margin-left: 12vw;
  }

  /*Box Sponsoring*/
  #DivSponsoring{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(165, 139, 169);
  }

  #DivSponsoring h1{
    text-align: center;
    max-width: 100%;
  }

  #DivSponsoring .DivName p{
    color: rgb(63, 42, 86);
  }


  /*Box Communication*/
  #DivCommunication{ 
    width: 100%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  #DivCommunication .DivName p{
    color: white;
  }

 

  /*Box Campagnes*/
  #DivCampagnes{ 
    width: 100%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(255, 92, 57);
  }

  #DivCampagnes .DivName p{
    color: rgb(63, 42, 86);
  }

  
  /*Box Associations*/
  #DivAssociations{
    width: 100%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  #DivAssociations .DivName p{
    color: white;
  }


}

/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
/*//////////////////////////////////////////////////*/
@media only screen and (min-width: 500px) {

  #Bienvenue{
    color: rgb(63, 42, 86);
    font-size: 5vh;
    font-family: "newFont-Titre";
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 5vh;
    width: 55vw;
    text-align: center;
  }

  #FirstBox{
    margin-left: 22%;
    margin-right: 22%;
  }

  #FirstBox p{
    position: relative;
    top: 4vh;
    font-size: 1.2rem;
    color: black;
    font-family: "newFont-Text";
  }

  #Presentation{
    background-color: rgb(255,92,57);
    color: white;

    margin-top: 12%;
    margin-bottom: 2%;
    padding: 0.5%;
    padding-left: 1.5%;

    border-radius: 5px;
    max-width: 35vw;

    font-size: 3vh;
    font-family: "newFont-Titre";
  }

  /* Les 5 images */
  #ImagePresentation{
    margin-top: 13%;
    display: flex;
    width: 62vw;
    height: 25%;
    position: relative;
    right: 2vw;
  }

  .OneImagePresentation{
    margin: 1vh;
  }

  /*Suite Présentation de nous*/

  /* Titre qui nous somme */
  #Qui{
    background-color: rgb(63, 42, 86);
    color: white;

    position: relative;
    left: 15vw;

    margin-top: 12%;
    margin-bottom: 2%;
    padding: 1%;
    padding-left: 1.5%;

    border-radius: 5px;
    max-width: max-content;

    font-size: 4vh;
    font-family: "newFont-Titre";
  }

  /* Deuxième Div de la page */
  #SecondBox{
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
  }

  #SecondBox .pole{
    
    max-width: 100%;
    display: flex;
    justify-content: space-around ;
    margin-top: 3%;
  }

  #SecondBox .infoMembre{
    font-family: 'newFont-Text';
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 3vh;
    font-size: 1.2rem;
    color: black;
  }

  /*Pour séparé dans les box*/
  /*Changement du css des lettres*/

  #SecondBox .DivName{
    display: flex;
  }

  #SecondBox .nom {
    display: flex;
    text-align: right;
    flex-direction: column;
    margin-right: 5vh;
    margin-left: 5vh;
    text-transform: uppercase;
    font-family: "newFont-Titre";
    font-size: 100%;
  }

  #SecondBox .nom p {
    line-height: 5vh;
  }


  #SecondBox .poste {
    display: flex;
    text-align: left;
    flex-direction: column;
    margin-right: 5vh;
    font-weight: normal;
    font-family: "Montserrat";
  }

  #SecondBox .poste p {
    font-size: 3vh;
    line-height: 5vh;
  }

  .letterWhite{
    color: white;
  }

  .letterOrange{
    color: rgb(255, 92, 57);
  }

  #SecondBox .DivPresentation h1{
    color: rgb(63, 42, 86);
    font-family: "newFont-Titre";
    font-size: 240%;
    margin-bottom: 5%;
  }

  /*Voir les photos*/
  .PhotoNous{
    visibility: hidden;
    
  }

  /*Box Bureau*/
  #DivBureau{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: max-content;
    border-radius: 15px;
    background-color: rgb(165, 139, 169);
  }

  #DivBureau .DivName p{
    color: rgb(63, 42, 86);
  }

  #ImageBureau{
    position: relative;
    top: 5vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    border-radius: 15px;
    background-color: rgb(165, 139, 169);
  }

  /*Box Event*/
  #DivEvent{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    border-radius: 15px;
    background-color: rgb(255, 92, 57);
  }

  #DivEvent h1{
    align-self: start;
    text-align: center;
    max-width: 100%;
  }

  #DivEvent .DivName p{
    color: white;
  }


  #ImageEvent{
    position: relative;
    top: 5vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    border-radius: 15px;
    background-color: rgb(255, 92, 57);
  }

  /*Box Commissions*/
  #DivCommission{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;

    width: max-content;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  #DivCommission h1{
    text-align: center;
    max-width: 100%;
  }

  #DivCommission .DivName p{
    color: white;
  }

  #ImageCommission{
    position: relative;
    top: 3vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 35vh;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  /*Box Sponsoring*/
  #DivSponsoring{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 90%;
    border-radius: 15px;
    background-color: rgb(165, 139, 169);
  }

  #DivSponsoring h1{
    text-align: center;
    max-width: 100%;
  }

  #DivSponsoring .DivName p{
    color: rgb(63, 42, 86);
  }

  #ImageSponsoring{
    position: relative;
    top: 5vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 25vh;
    border-radius: 15px;
    background-color: rgb(165, 139, 169);
  }

  /*Box Communication*/
  #DivCommunication{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  #DivCommunication h1{
    align-self: start;
    text-align: center;
    max-width: 100%;
  }

  #DivCommunication .DivName p{
    color: white;
  }

  #ImageCommunication{
    position: relative;
    top: 5vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 30vw;
    height: 55vh;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }


  /*Box Campagnes*/
  #DivCampagnes{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 45vw;
    border-radius: 15px;
    background-color: rgb(255, 92, 57);
  }

  #DivCampagnes h1{
    align-self: start;
    text-align: center;
    max-width: 100%;
  }

  #DivCampagnes .DivName p{
    color: rgb(63, 42, 86);
  }

  #ImageCampagnes{
    position: relative;
    top: 3vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:40vw;
    height: 35vh;
    border-radius: 15px;
    background-color: rgb(255, 92, 57);
  }

  /*Box Associations*/
  #DivAssociations{ 
    position: relative;
    top: 10%;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50vw;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }

  #DivAssociations h1{
    align-self: start;
    text-align: center;
    max-width: 100%;
  }

  #DivAssociations .DivName p{
    color: white;
  }

  #ImageAssociations{
    position: relative;
    top: 10vh;
    padding: 5vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    width:30vw;
    height: 45vh;
    border-radius: 15px;
    background-color: rgb(63, 42, 86);
  }
}






  
  