@media only screen and (max-width: 490px) {

    #Projets_future #Titre{
        position: relative;
        top: 5%;
        margin: 2%;
        font-size: 1.5em;
        width: 70%;
        
        text-align: center;
        font-family: "newFont-Titre"; 
    }

    #Projets_future{
        background-image: url(../Image/route.webp);
        background-size: 100% 100%;
        height: 84vh;
        width: 100vw;
        position: absolute;
    }


    .BoxProjets{
        margin: 1%;
        border: 1px solid black;
        border-radius: 75px;
        height: 3vh;
        width: 25vw;
        position: relative;
        padding: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3vh;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
        inset -5px -5px 25px rgba(0, 0, 0, 0.5),
        inset 10px 10px 30px rgba(255, 255, 255, 0.2) ;
        transition:0.5s; 
    }

    .BoxProjets h1{
        color: black;
        display: block;
        font-family: "newFont-Titre";
        font-size: 1.5vw;
        text-align: center;
    }
    .BoxProjets p{
        color: black;
        display: block;
        font-family: "newFont-Titre";
        font-size: 1.3vw;
        width: max-content;
    }

    .Tchat{
        position: absolute;
        top: 10vh;
        right: 0vw;
    }

    .Ieseg{
        position: absolute;
        top: 23vh;
        right: 15vw;
    }

    .Arena{
        position: absolute;
        top: 35vh;
        right: 30vw;
        text-align: center;
    }

    .Escalade{
        position: absolute;
        top: 47vh;
        right: 10vw;
        text-align: center;
    }

    .logoAs{
        position: absolute;
        top: 44.5vh;
        left: 5vw;
        text-align: center;
        background-image: url(../../IMAGE/logo_as.webp);
        width: 30vw;
        height: 30vw;
        background-size: 100% 100%;
    }
}

@media only screen and (min-width: 500px) {

    #Projets_future{
        background-image: url(../Image/route.webp);
        background-size: 100% 100%;
        height: 220vh;
    }

    #Projets_future #Titre{
        font-family: "newFont-Titre";
        width: 50vw;
        font-size: 7vh;
        margin-left:10vh;
        margin-bottom:8vh;
    }

    .BoxProjets{
        margin: 1%;
        border: 1px solid black;
        border-radius: 75px;
        height: 20vh;
        width: 35vw;
        position: relative;
        padding: 3vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-bottom: 3vh;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5),
        inset -5px -5px 25px rgba(0, 0, 0, 0.5),
        inset 10px 10px 30px rgba(255, 255, 255, 0.2) ;
        transition:0.5s;
        
        
    }

    .BoxProjets h1{
        color: black;
        display: block;
        font-family: "newFont-Titre";
    }
    .BoxProjets p{
        color: black;
        display: block;
        font-family: "newFont-Titre";
    }


    .BoxProjets h1{
        color: white;
        display: block;
        font-family: "newFont-Titre";
        text-decoration: none;
    }
    .BoxProjets p{
        color: white;
        display: block;
        font-family: "newFont-Titre";
    }

    Link{
        text-decoration: none;
    }

    /* .BoxProjets:hover{
        transform: translateY(-5px);
        transition:0.5s; 
    } */

    .Tchat{
        position: absolute;
        top: 40vh;
        right: 2vw;
    }

    .Ieseg{
        position: absolute;
        top: 75vh;
        right: 15vw;
    }

    .Arena{
        position: absolute;
        top: 100vh;
        right: 30vw;
        text-align: center;
    }

    .Escalade{
        position: absolute;
        top: 140vh;
        right: 10vw;
        text-align: center;
    }

    .logoAs{
        position: absolute;
        top: 135vh;
        left: 6vw;
        text-align: center;
        background-image: url(../../IMAGE/logo_as.webp);
        width: 29vw;
        height: 29vw;
        background-size: 100% 100%;
    }

}
/*ANIMATION BOX*/